body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.616);
    font-size: 20px;
}
h1 
nav
{
    border: solid 0.01px rgb(235, 232, 232);
    width:fit-content;
    height: fit-content;
    box-shadow:2px 2px 2px 2px rgb(233, 222, 222);
    margin-top: 70px;
    font-family: serif;

}
nav li
{
    display: inline-block;
    
}
nav ul
{
    list-style-type: none;
}
nav a,a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.616);
    font-size: 15px;
    padding-inline: 2px;
    
}
li a:hover
{
    
    transition-property: all;
    border-bottom: black solid 3px;
    color: rgb(255, 255, 255);
    font-style: none;
    background-color: rgba(0, 128, 0, 0.048);
}
.imagesAccueil img
{
    zoom: 50%;
    position: relative;
    z-index: auto;
}
.nature{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
footer
{
    background-color: rgba(0, 128, 0, 0.068);
    position:fixed;
    bottom: 0px;
    width: fit-content;
}

.icon img{
    width: 5%;
    padding: 5px;
    float: right;
}
#liens{
    text-align: center;
    background-color: rgba(0, 128, 0, 0.062);
    width: fit-content;
    margin: auto;
    font-family: serif;
    padding-bottom: 2px;
}
#liens a {
    text-decoration:none;
    font-size: 8px;
    
}
#liens a:hover{
    color: rgb(255, 255, 255);
   
}
em{
    color: rgba(80, 75, 75, 0.76);
    font-style: normal;
    font-size: 10px;
}


