body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/fond.jpeg");
}


h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.616);
    font-size: 25px;
}

#button{
    position: fixed;
    top:2%;
    right:2%;  
}
#button a{
    padding: 5px;
}
button{
    width: fit-content;
    font-size: 21px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.062);
    color: rgba(235, 225, 225, 0.911);
}
#button p{
    color: aliceblue;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav
{
    border: solid 0.01px rgba(102, 202, 89, 0.014);
    margin: auto;
    font-size: 20px;
    margin-top: 70px;
    font-family: serif;
    background-color: rgba(0, 128, 0, 0.062);
    

}
nav li
{
    display: inline-block;
    margin-right: 14px;
}
nav ul
{
    list-style-type: none;
}
nav a,a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.616);
    padding: 25px;
    
}
li a:hover
{
    
    transition-property: all;
    border-bottom: black solid 3px;
    color: rgb(255, 255, 255);
    font-style: none;
    background-color: rgba(0, 128, 0, 0.048);
}
#contenu{
    border: solid rgba(67, 129, 70, 0.185) 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../images/formulaire.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    
}
h3{
    color: rgba(255, 255, 255, 0.616);
    text-decoration: overline;
}
.formulaire{
    border: solid 10px rgba(113, 180, 96, 0.253);
}
.formulaire:hover{
    background-color: rgba(82, 167, 82, 0.062);
}
.saisie{
    margin: auto;
    padding-bottom: 5px;
}
.saisie input{
    background-color: rgba(0, 0, 0, 0.589);
    color: aliceblue;
    border-radius: 5px;
    border: solid rgba(0, 128, 0, 0.212) 1px ;
    height: 25px;
    

}
label{
    color: aliceblue;
    font-family: serif;
    margin: 10px;
   
}

.condGenerUtil{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}
span{
    font-style: italic;
    text-decoration: underline;
}
.btn{
    margin-right: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 54, 3);
}

footer
{
   
    background-color: rgba(0, 128, 0, 0.068);
    position:fixed;
    bottom: 0%;
    width: 100%;
 
}
.icon img{
    width: 1.5%;
    padding: 10px;
    float: right;
    border-radius: 50%;
}
#liens{
    text-align: center;
    width: fit-content;
    margin: auto;
    font-family: serif;
    padding: 40px;
    background-color: rgba(0, 128, 0, 0.062);
    
   
}
#liens a {
    text-decoration:none;
    padding: 15px;
    color: rgba(255, 255, 255, 0.616);
}
#liens a:hover{
    color: rgb(255, 255, 255);
   
}
em{
    color: rgba(224, 214, 214, 0.507);
    font-style: normal;
}


/*Css relative à la page connexion seulement*/
legend img{
    border-radius: 50%;
    opacity: 80%;
    border: solid green 2px;
    width: 20%;
}
em{
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}
label img{
    border-radius: 50%;
    width: 4%;
    border: solid 2px rgba(64, 158, 68, 0.308);
}
.userTap input{
    border-radius: 8px;
    height:25px;
    border: solid rgba(0, 128, 0, 0.212) 1px ;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.589);
}
.pass{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    position: fixed;
    right: 0%;
}
