
.lino img
{
    zoom: 60%;
    position: relative;
    z-index: auto;
}

nav
{
    border: solid 0.01px rgb(235, 232, 232);
    width: 400px;
    margin-left: 650px;
    box-shadow:2px 2px 2px 2px rgb(233, 222, 222);

}
nav li
{
    display: inline-block;
    margin-right: 14px;
}
nav ul
{
    list-style-type: none;
}
nav a,a
{
    text-decoration: none;
    color:black;
    
}
a:hover
{
    font-style:normal ;
    transition-property: all;
    transition-delay: 0.1s;
    border-bottom: black solid 2px;
    border-left: black 1px solid;
    color: brown;
}
h1
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.616);
}
th,td
{
    border: 0.02px groove rgb(252, 252, 252);
    height: 50px;
    border-radius: 2px 0px 2px 0px;
    padding-left: 20px;
    box-shadow: 2px 2px 2px 2px rgb(240, 230, 230);
    
   
}

.nature,.fofo,.six,figcaption p ,aside p
{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 400px;
    color: rgba(0, 0, 0, 0.767);

}
.nature
{
    position: relative;
    left: 50px;
}
#sango
{
   
    width: 500px;
    margin-left: 30px;
    text-align: center;
}
h2
{
    
    width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(2, 2, 2, 0.616);
}
video
{
    border-radius: 12px;
    opacity: inherit;
    width: 400px;
}
aside
{
    border: rgb(255, 255, 255) 0.02px groove;
    border-radius: 2px;
    width: 400px;
    text-align: center;
    box-shadow: 2px 2px  2px 2px rgb(211, 196, 196);
    

}
td img
{
   width:100%;
}
td p,.last
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}
.six
{
    margin-left: 20px;
}
.sanogo
{
   
    width: 400px; 
}
.guepard img
{
  zoom: 5%; 
  border-radius: 10px;
}
.guepard img:active
{
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 2s;
    zoom: 40%;
}
#sango,.sanogo
{
    display: inline-block;
    margin-left: 130px;
}
strong
{
    background-color: rgba(84, 172, 62, 0.863);
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
figure img
{
   border-radius: 10px;
   opacity: 80%;
  
   zoom: 20%;

}
em
{
    color: rgba(194, 20, 20, 0.877);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
.time
{
    color: rgba(84, 172, 62, 0.863) ;
}

#scala
{
  
   
   
    width: 400px;
    box-shadow: 2px 0px 0px 0px rgba(202, 170, 170, 0.671);
    position: relative;
    left: 245px;
}
footer
{
    border: groove 1px rgb(255, 255, 255);
    width: 1050px;
    margin-left: 115px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 2px 0px 2px 0px rgb(216, 192, 192);
   
   
}
figure
{
    float: left;
}
footer,#sango,.sanogo
{
    margin-top: 10px;

}
.dingo img
{
    width: 40px;
}

#ciseau
{
    width: 400px;
     
}
#ciseau,#scala
{
    display: inline-block;
  
}
@media only screen and (max-width:1280px)
{


}

